nashorn_code_cache
.vscode
*/.factorypath
node_modules
dist
bower_components
.tmp
.publish/
target
.classpath
.project
npm-debug.log
.settings/
bin/
.yo-rc.json
.DS_Store
*.gpd.*
.idea
*.iml
*.ipr
*.iws
*.log
.metadata
.mylar
*.orig
.pmd
.project
*.pyc
.pydevproject
*.rej
*~bak
*-bak
*.bak
*/**/package-lock.json
*/**/*/CertificateAuthorityCertificate.pem
docker/nuxeo/volume/package.d/
docker/mongodb/.psd
docker/mongodb/data
docker/mongodb/log
docker/mongodb/zk-single-kafka-single
docker/nuxeo/data
docker/nuxeo/log
docker/elasticsearch/data
docker/kafka/zk-single-kafka-single
docker/nuxeo/.psd
docker/minio/data/**/*
docker/kafka/data
docker/kafka/log
docker/minio/data
docker/smtp/data
.java-version
/localstack_data/recorded_api_calls.json
/localstack_data/startup_info.json
/cloud/terraform/local/.terraform/
/cloud/terraform/local/.terraform.lock.hcl
/cloud/terraform/local/terraform.tfstate
/cloud/terraform/local/terraform.tfstate.backup
/cloud/local/terraform.tfstate
/cloud/local/terraform.tfstate.backup
/cloud/local/.terraform.lock.hcl
/cloud/local/volume/
/cloud/local/localstack_data/
/cloud/local/.terraform/
# Exclusion use only for internal testing
.archives
hooks/**/*
.yo-rc.json
**/*/Jenkinsfile.old
